<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://unpkg.com/tween.js@16.3.4"></script>
    <script src="https://unpkg.com/color-js@1.0.3/color.js"></script>
    <style>
        *{
            font-size:1em;
        }
        .fade-enter, .fade-leave-to{
            opacity:1;
            transform:translateY(30px) scale(2) translateX(100px);
        }

        .fade-enter-active, .fade-leave-active{
            transition:all .3s ease-out;
        }

        /* comp-fade */
        .comp-fade-enter, .comp-fade-lave-to{
            opacity: 0;
        }          
        .comp-fade-enter-active, .comp-fade-leave-active{
            transition:all .3s ease-out;
        }
      
        .tg_txt_wrap{position:relative; height:70px;}
        .tgTxt{position:absolute; border-radius:5px; padding:10px;}
        .tgTxt.first{color:royalblue; border:1px solid royalblue;}
        .tgTxt.second{color:deeppink; border:1px solid deeppink;}

        /* transition-group listg */
        .list-item{
            display:inline-block;
            transition:all .3s ease-out;
            padding:5px;
            margin:5px;
            border:1px solid #ccc;
            color:#ccc;
            width:20px;
            height:20px;
            text-align:center;
            border-radius:50%;
            box-shadow:5px 5px 10px rgba(0,0,0,.06);
            /*inline-block!*/
        }
        .listg-enter, .listg-leave-to{
            opacity:0;
            transform:translateY(30px);
        }
        .listg-enter-active, .listg-leave-active{
            transition:all .3s ease-out;
        }

        .animate-color-preview{
            display:inline-block;
            width:50px;
            height:50px;
            border-radius:50%;
        }    

        /* todo_list style*/    
        .todo_list{
            border:1px solid #ccc;
            padding:10px 30px;
        }
        .todo_list > li{
            border-top:1px dotted #ccc;
            padding:5px 0;
        }        
        .todo_list > li:first-child{
            border-top:none;
        }
        .todo_list button{
            float:right;
            background:#666;
            border:none;
            color:#fff;
            width:20px;
            height:20px;
            text-align:center;
            border-radius:50%;
            font-size:12px;
        }
    </style>
</head>
<body>

    <div id="app1">
        <h1>Vue.js</h1>
        <h2>{{message}}</h2>
        <hr>

        <h3>{{ }} 기본바인딩</h3>
        <p>{{welcomeMsg}}</p>
        <hr>

        <h3>v-if</h3>
        <p v-if="seen">v-if (seen이 true 이면 보입니다)</p>
        <hr>

        <h3>v-for</h3>
        <li v-for="(item, index) in items">
           {{index}}. {{item.text}} 
        </li>
        <hr>

        <h3>v-on:click = @click</h3>
        <button @click="messagePop">alert message</button>
        <hr>

        <h3>v-bind:뷰 = :뷰</h3>
        <p :style="styleBasic">Style</p>
        <p :style="line">line style</p>
        <p :style="[styleBasic, line]">여러 스타일 적용</p>
        <hr>

        <h3>v-model 양방향바인딩</h3>
        <p>뷰와 데이터가 양방향으로 흐름</p>
        <input type="text" v-model="sameText" placeholder="입력해보세요">
        <p>입력 내용: {{sameText}}</p>
        <hr>
        <p>여러줄 입력<p>
        <textarea v-model="multiLine" placeholder="여러줄을 입력할 수 있습니다." style="width:100%; height:70px;"></textarea>
        <p style="white-space:pre-line">내용: {{multiLine}}</p>


        <h3>v-text, v-html</h3>
        <input type="checkbox" id="feeling"
            v-model="feel"
        >
        <label for="feeling">feeling toggle</label>
        <p v-text="feel ? good : bad">뿌려줌</p>
        <p v-html="code">{{code}}</p>
        <hr>

        <h3>methods 뭘 실행할지 function</h3>
        <h3>computed 계산된 속성</h3>
        <button @click="addCnt" :disabled="moreFive">+</button>
        <button @click="disCnt" :disabled="lessZero">-</button>
        <p>{{count}}</p>
        <hr>

        <h3>component</h3>
        <songs-component first="songhee" last="kim" city="seoul"></songs-component>
        <p>컴포넌트 재사용</p>
        <songs-component first="hongs" last="Lee" city="gwangju"></songs-component>
        <hr>

        <h3>transition</h3>
        <button @click="show = !show">Go</button>
        <transition name="fade">
            <p v-if="show">text</p>
        </transition>
        <hr>

        <button @click="number +=1">Click</button>
        <span>클릭 횟수는 {{number}}번</span>
        <hr>

        <button @click="say('hi~~')">view message</button>
        <hr>

        <h3>checkbox 바인딩</h3>
        <input type="checkbox" id="chk1" value="김치찌개" v-model="foodItems">
        <label for="chk1">김치찌개</label>

        <input type="checkbox" id="chk2" value="불닭" v-model="foodItems">
        <label for="chk2">불닭</label>

        <input type="checkbox" id="chk3" value="짜장면" v-model="foodItems">
        <label for="chk3">짜장면</label>

        <input type="checkbox" id="chk4" value="비빔밥" v-model="foodItems">
        <label for="chk4">비빔밥</label>
        
        <p>{{foodItems.length}}개 선택</p>
        <p>선택한 메뉴 : {{foodItems}}</p>
        <p>data에서 배열로 생성</p>
        <hr>

        <h3>radio 바인딩</h3>
        <input type="radio" id="rd1"
            value="hello"
            v-model="picked"
        >
        <label for="rd1">msg1</label>

        <input type="radio" id="rd2"
            value="bye"
            v-model="picked"
        >   
        <label for="rd2">msg2</label>             
        <p>선택: {{picked}}</p>
        <hr>

        <h3>select 바인딩</h3>
        <select v-model="choice">
            <option disabled value="">selecet one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>

        <p>선택: {{choice}}</p>
        <hr>

        <select v-model="choiceMulti" multiple>
            <option disabled value="">selecet multi</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <p>control 누르고 다중선택: {{choiceMulti}}</p>
        <hr>

        <h3>v-for 동적 옵션 렌더링</h3>
        <select v-model="selectFor">
            <option v-for="option in options" :value="option.value">
                {{option.text}}
            </option>
        </select>
        <span>{{selectFor}}</span>
        <hr>


        <my-comp-global></my-comp-global>
        
        <my-comp></my-comp>

        <hr>
        <h3>동적 props 어렵다</h3>
        <input type="text" v-model="nowMsg">

        <child-new-comp :msging="nowMsg"></child-new-comp>
        <hr>

        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <p>문제점 : 같은 data를 공유하므로 동시작동</p>
        <hr>

        <simple-counter2></simple-counter2>
        <simple-counter2></simple-counter2>
        <simple-counter2></simple-counter2>
        <p>해결방법 : 새로운 데이터 객체를 반환한다</p>
        <hr>

        <h3>filter</h3>
        <span v-for="n in evenNumbers">{{n}}</span>
        <hr>

        <h3>velocity</h3>
        <button @click="velo = !velo">velocity effect</button>
        <transition
            @before-enter="beforeEnter"
            @enter="enter"
            @leave="leave"
        >
            <p v-if="velo">Velocity text</p>
        </transition>
        <hr>

        <h3>transition toggle</h3>
        <p>클릭할때마다 홀짝, 컨텐츠 v-if로 토글</p>
        <button @click="docs++">Btn</button>

        <div class="tg_txt_wrap">
            <transition name="fade" mode="out-in">
                <p v-if="docs%2 == 0" class="tgTxt first">첫번째 컨텐츠</p>
            </transition>
            <transition name="fade" mode="out-in">
                <p v-if="docs%2 == 1" class="tgTxt second">두번째 컨텐츠</p>
            </transition>      
        </div>  
        <hr>

        <h3>컴포넌트간 전환</h3>
        <input type="radio" id="rdo1" v-model="views" value="v-a">
        <label for="rdo1">A</label>

        <input type="radio" id="rdo2" v-model="views" value="v-b">
        <label for="rdo2">B</label>

        <p>mode out-in 앞요소 사라진 후에 나옴<p>
        <transition name="comp-fade" mode="out-in">
            <component :is="views"></component>
        </transition>
        <hr>

        <h3>transition-group with lodash.js</h3>
        <button @click="addNum">Add</button>
        <button @click="removeNum">Remove</button>
        <button @click="shuf">Shuffle</button>
        <br><br>
        <transition-group name="listg">
            <!-- key? @.@ -->
            <span v-for="nb in numbering" :key="nb" class="list-item">{{nb}}</span>
        </transition-group>
        <hr>

        <h3>watch tween.js</h3>
        <input type="number" step="20" v-model.numbs="numbs">
        <p>{{animatedNum}}</p>
        <hr>
    </div>
    <script>
        //자기소개 컴포넌트
        //songsComponent 로도 가능 -> 단 html에서는 -으로 표기해야함
        Vue.component('songs-component',{
            template:'<p>my name is {{first}} {{last}}, live in {{city}}</p>',
            props:['first','last','city']
            //props로 데이터 전달하기
            //속성 카멜표기법으로 바인딩 안됨
        })

        Vue.component('my-comp-global',{
            template:'<p>전역 컴포넌트</p>'
        })

        var childComp = {
            template:'<p>지역 컴포넌트</p>'
        }

        // case01, 문제있음, 같은 data객체를 공유, 동시작동됨
        var data = {nums:0}
        Vue.component('simple-counter', {
            template:'<button @click="nums += 1">{{nums}}</button>',
            data: function(){
                return data
            }
        })

        // case 02 새로운 데이터 객체 반환
        Vue.component('simple-counter2', {
            template:'<button @click="nums +=1">{{nums}}</button>',
            data: function(){
                return {
                    nums:0
                }
            }
        })

        new Vue({
            el:'#app1',
            data:{
                message:'hello vue',
                welcomeMsg:'안녕하세요',
                seen:true,
                items:[
                    {text:'one'},
                    {text:'two'},
                    {text:'three'}
                ],
                styleBasic:{
                    fontSize:'20px',
                    color:'royalblue',
                    backgroundColor:'#eee',
                    padding:'10px'
                },
                line:{
                    border:'1px solid royalblue',
                    textDecoration:'underline'
                },
                sameText:'', 
                multiLine:'',        
                feel:true,
                good:'^_^',
                bad:'T_T',
                code:'<li>html로 렌더링</li>',
                count:0,
                show:true,
                number:0,
                foodItems:[],
                picked:'',
                choice:'',
                choiceMulti:[],
                selectFor:'a',
                options:[
                    {text:'first', value:'a'},
                    {text:'second', value:'b'},
                    {text:'third', value:'c'}
                ],
                nowMsg:'hohohoho',
                n:'0',
                numbers:[1,2,3,4,5],
                velo:false,
                docs:0,
                views:'v-a',
                numbering:[1,2,3,4,5],
                nextNum:6,
                numbs:0,
                animatedNum:10
            },
            watch:{
                numbs: function(newValue, oldValue){
                    var vm = this
                    function animate(){
                        if(TWEEN.update()){
                            requestAnimationFrame(animate)
                        }
                    }

                    new TWEEN.Tween({tNum: oldValue})
                        .easing(TWEEN.Easing.Quadratic.Out)
                        .to({tNum: newValue}, 500)
                        .onUpdate(function(){
                            vm.animatedNum = this.tNum.toFixed(0)
                        })
                        .start()
                    animate()
                }
            },
            components:{
                'my-comp':childComp,
                childNewComp:{
                    props:['msging'],
                    template:'<p>{{msging}}</p>'
                },
                'v-a':{
                    template:'<div>componentA</div>'
                },
                'v-b':{
                    template:'<div>componentB</div>'
                }
            },
            methods:{
                messagePop: function(){
                    alert('this is pop msg');
                },
                addCnt: function(){
                    this.count++;
                },
                disCnt: function(){
                    this.count--;
                },
                say: function(msg){
                    alert(msg);
                },
                beforeEnter: function(el){
                    el.style.opacity = 0
                    el.style.transformOrigin = 'left'
                },
                enter: function(el, done){
                    Velocity(el,{opacity:1, fontSize:'1.4em'},{duration:300})
                    Velocity(el,{fontSize:'1em'},{complete:done})
                },
                leave: function(el,done){
                    Velocity(el,{translateX:'15px', rotateZ:'50deg'},{duration:600})
                    Velocity(el,{rotateZ:'130deg'},{loop:2})
                    Velocity(el,{
                        rotateZ:'90deg',
                        translateY:'100px',
                        opacity:0
                    },{complete:done})

                },
                randomIndex: function(){
                    return Math.floor(Math.random() * this.numbering.length)
                },
                addNum: function(){
                    this.numbering.splice(this.randomIndex(), 0, this.nextNum++)
                },
                removeNum: function(){
                    this.numbering.splice(this.randomIndex(),1)
                },
                shuf: function(){
                    this.numbering = _.shuffle(this.numbering)
                }
            },
            computed:{
                moreFive: function(){
                    return this.count >= 5
                },
                lessZero: function(){
                    return this.count <= 0
                },
                evenNumbers: function(){
                    return this.numbers.filter(function(v){
                        return v % 2 == 1
                    })
                }
            }
            
        })
</script>

    <div id="app2">
        <h3>tween.js color.js</h3>
        
        <input
            v-model="colorQuery"
            @keyup.enter="updateColor"
            placeholder="Enter a color"
        >
        <button @click="updateColor">Update</button>
        <p>Preview: {{tweenedCSSColor}}</p>
        <span
            :style="{backgroundColor:tweenedCSSColor}"
            class="animate-color-preview"
        ></span> 

        <hr>
        <h3>사용자 directive 여러값</h3>
        <p v-demo="{coloring:'white', text:'this is text'}"></p>
        <p id="txtxt">g</p>
        <hr>
        <h3>Mixin</h3>
        <p>컴포넌트에 재사용 가능한 기능 배포</p>
        <hr>
        <h3>사용자 디렉티브 생성</h3>
        <p>바인딩된 element가 dom에 삽입되었을때 포커스</p>
        <!--<input type="text" v-focusgo>-->
    </div>

    <script>

        //전역 사용자 디렉티브 v-focus 등록
        Vue.directive('focusgo',{
            inserted: function(el){
            //바인딩된 엘리먼트가 돔에 삽입되었을때
                el.focus();
                //엘리먼트에 포커스를 준다.
            }
        })

        //사용자 디렉티브
        Vue.directive('demo', function(el, binding){
            var t1 = binding.value.coloring;
            var t2 = binding.value.text;
            document.querySelector("#txtxt").text('coloring is :'  + t1 + '<br> '+ t2);
        })

        //mixin 객체 생성
        var myMixin = {
            created: function(){
                this.hello()
            },
            methods:{
                hello:function(){
                    document.write('hello mixin!')
                }
            }
        }

        var Compsong = Vue.extend({
            mixins: [myMixin]
        })

        var coms = new Compsong()
        

        //init
        var Color =  net.brehaut.Color

        new Vue({
            el:'#app2',
            data:{
                colorQuery: '',
                color: {
                    red: 0,
                    green: 0,
                    blue: 0,
                    alpha: 1
                },
                tweenedColor: {}
            },
            created: function () {
                //생성
                this.tweenedColor = Object.assign({}, this.color)
                //개체를 복제한다
            },
            watch: {
                //변경될 때 마다 이 기능이 실행
                color: function () {
                function animate () {
                    if (TWEEN.update()) {
                    requestAnimationFrame(animate)
                    }
                }
                
                new TWEEN.Tween(this.tweenedColor)
                    .to(this.color, 750)
                    .start()
                
                animate()
                }
            },
            computed: {
                //계산된 속성
                tweenedCSSColor: function () {
                return new Color({
                    red: this.tweenedColor.red,
                    green: this.tweenedColor.green,
                    blue: this.tweenedColor.blue,
                    alpha: this.tweenedColor.alpha
                }).toCSS()
                }
            },
            methods: {
                updateColor: function () {
                    if(this.colorQuery == ''){
                        alert('color 값을 입력하세요!');
                    } else{
                        this.color = new Color(this.colorQuery).toRGB()
                        this.colorQuery = ''
                    }
                }
            }
        }) 

</script>

    <hr>

    <h3>Todo List</h3>
    <div id="app3">
        <input 
            v-model="newTodo"
            @keyup.enter="addNewTodo"
            placeholder="할일을 입력하세요"
        >
        <button @click="addNewTodo">추가</button>
        <p>할일 : {{todos.length}}</p>
        <ol class="todo_list">
            <li 
                is="todo-temp"
                v-for="(todo, index) in todos"
                :title="todo"
                @remove="todos.splice(index,1)"
            >
                
            </li>
        </ol>


    </div>

    <script>
        Vue.component('todo-temp', {
            template:'<li>{{title}}\
                <button @click="$emit(\'remove\')">x</button></li>',
            props:['title']
        })
        new Vue({
            el:'#app3',
            data:{
                todos:[
                    'shopping',
                    'exercise!',
                    'sleep zzZ'
                ],
                newTodo:'',
                countTodo:0
            },
            methods:{
                addNewTodo: function(){
                    if(this.newTodo == ''){
                        alert('내용은 필수입니다')
                    } else {
                    this.todos.push(this.newTodo)
                    this.newTodo = ''
                    }
                }
            }
        })
    </script>

</body>
</html>